Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, Build dev container, Verify code style, Run test

Assign Docker image tag:
  stage: config
  script:
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

Build dev container:
  stage: prepare
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  variables:
    target: dev
  script:
  ...

Verify code style:
  stage: test
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/magdalena/dev:${DOCKER_IMAGE_TAG}
  script:
  - black .

Run test:
  tags:
  - docker
  - methodshub
  stage: test
  image: docker-private-snapshots.gesis.intra/gesis/methods-hub/magdalena/dev:${DOCKER_IMAGE_TAG}
  variables:
    MAGDALENA_SHARED_DIR: /tmp/magdalena-shared-volume
  script:
  - mkdir $MAGDALENA_SHARED_DIR
  - pytest .

Fix Dockerfile
  Dockerfile
Due: Assign Docker image tag, Build dev container

Add .dockerignore file
  .dockerignore
Due: none

Add docker-private-releases.gesis.intra/gesis to GitLab CI
  .gitlab-ci.yml
Due: none

Add pyproject.toml
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

Remove requirements.*txt
  requirements.dev.txt
  requirements.txt
Due: Build dev container

Remove Conda environment
  environment.dev.yml
  environment.yml
Due: none

Update Dockerfile
  Dockerfile
Due: Assign Docker image tag, Build dev container

Fix GitLab CI .env
  .gitlab-ci.yml
Due: none

Fix cannot create directory '/var/magdalena': File exists
  Dockerfile
Due: Assign Docker image tag, Build dev container

Remove poetry config experimental.new-installer false
  Dockerfile
Due: Assign Docker image tag, Build dev container

sphinx-quickstart docs
  .dockerignore
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
Due: Verify code style, Run test

Delete old info from Docker ignore
  .dockerignore
Due: none

Ignore docs when creating container
  .dockerignore
Due: none

Add sphinx to Docker compose
  compose.yaml
Due: none

Add documentation to GitLab CI
  .gitlab-ci.yml
Due: none

Update documentation configuration
  docs/source/conf.py
Due: Verify code style, Run test

Update GitLab CI stages
  .gitlab-ci.yml
Due: none

Add docs group to poetry
  poetry.lock
  pyproject.toml
Due: none

Add gunicorn to Poetry
  pyproject.toml
Due: none

Mark Poetry groups as optional
  pyproject.toml
Due: none

Update documentation to cover poetry
  CONTRIBUTING.md
  README.md
  docs/source/architecture.rst
  docs/source/contributing.rst
  docs/source/faq.rst
  docs/source/img/magdalena-logo.png
  docs/source/img/magdalena.drawio.png
  docs/source/index.rst
Due: none

Update CONTRIBUTING
  docs/source/contributing.rst
Due: none

Fix shared_root_dir value
  app.py
Due: Verify code style, Run test

Move files around
  magdalena/__init__.py
  magdalena/app.py
  magdalena/docker-scripts/Rmd2ipynb.sh
  magdalena/docker-scripts/Rmd2md.sh
  magdalena/docker-scripts/Rmd2qmd.sh
  magdalena/docker-scripts/copy-assets.sh
  magdalena/docker-scripts/docx2md.sh
  magdalena/docker-scripts/ipynb2html.sh
  magdalena/docker-scripts/ipynb2ipynb.sh
  magdalena/docker-scripts/ipynb2md.sh
  magdalena/docker-scripts/ipynb2qmd.sh
  magdalena/docker-scripts/md2ipynb.sh
  magdalena/docker-scripts/md2md.sh
  magdalena/docker-scripts/md2pdf.sh
  magdalena/docker-scripts/md2qmd.sh
  magdalena/docker-scripts/qmd2ipynb.sh
  magdalena/docker-scripts/qmd2md.sh
  magdalena/docker-scripts/qmd2qmd.sh
  magdalena/methodshub.py
  magdalena/pandoc-filters/class-to-blockquote.lua
  magdalena/pandoc-filters/class-to-heading.lua
  magdalena/pandoc-filters/class-to-keywords.lua
  magdalena/pandoc-filters/custom-style-to-class.lua
  magdalena/pandoc-filters/merge-div.lua
  magdalena/pandoc-filters/populate-yaml-header.lua
  magdalena/pandoc-filters/remove-extras.lua
  magdalena/pandoc-filters/remove-hyperlink-custom-style.lua
  magdalena/pandoc-filters/remove-toc.lua
  magdalena/templates/index.html
  magdalena/tests/__init__.py
  magdalena/tests/assets/minimal.docx
  magdalena/tests/conftest.py
  magdalena/tests/functional/test_api.py
  magdalena/tests/functional/test_index.py
  magdalena/tests/unit/__init__.py
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Update documentation
  docs/source/contributing.rst
  wsgi.py
Due: Verify code style, Run test

Update GitLab job tags
  .gitlab-ci.yml
Due: none

Add GitLab CI job to trigger downstream job
  .gitlab-ci.yml
Due: none

Fix location of documentation in GitLab CI / Pages
  .gitlab-ci.yml
Due: none

Fix location of scripts and template
  magdalena/app.py
Due: Verify code style, Run test

black .
  docs/source/conf.py
  magdalena/app.py
  magdalena/methodshub.py
Due: Verify code style, Run test

Update if:changes of Dockerfile
  .gitlab-ci.yml
Due: none

Add Beautiful Soup to dev dependency
  poetry.lock
  pyproject.toml
Due: none

Fix variable renaming
  magdalena/app.py
Due: Verify code style, Run test

poetry add gql[requests]
  poetry.lock
  pyproject.toml
Due: none

poetry add lxml
  poetry.lock
  pyproject.toml
Due: none

Add libxml2 and libxslt to Docker
  Dockerfile
Due: Assign Docker image tag, Build dev container

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  Build dev container: any of: Dockerfile, requirements*.txt
  Verify code style: any of: **/*.py
  Run test: any of: **/*.py
