Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, build documentation, Build container, Verify code style, Run test

.gitlab-ci.yml:

stages:
  - config
  - prepare
  - test
  - release

Assign Docker image tag:
  stage: config
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_TAG
      variables:
        DOCKER_IMAGE_TAG: $CI_COMMIT_TAG
        DOCKER_TARGET: prod
        DOCKER_REGISTRY: docker-private-releases.gesis.intra/gesis
    - if:  $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == 'main'
      variables:
        DOCKER_IMAGE_TAG: latest
        DOCKER_TARGET: dev
        DOCKER_REGISTRY: docker-private-snapshots.gesis.intra/gesis
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - Dockerfile
      variables:
        DOCKER_IMAGE_TAG: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
        DOCKER_TARGET: dev
        DOCKER_REGISTRY: docker-private-snapshots.gesis.intra/gesis
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        DOCKER_IMAGE_TAG: latest
        DOCKER_TARGET: dev
        DOCKER_REGISTRY: docker-private-snapshots.gesis.intra/gesis
  script:
    - rm -f docker.env
    - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
    - echo "DOCKER_TARGET=${DOCKER_TARGET}" >> docker.env
    - echo "DOCKER_REGISTRY=${DOCKER_REGISTRY}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

build documentation:
  image: docker-private-releases.gesis.intra/gesis/methods-hub/sphinx/sphinx
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - docs/source/**/*
  script:
    - cd docs
    - make html
  artifacts:
    paths:
      - docs/build

pages:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"
  dependencies:
    - build documentation
  script:
    - mkdir -p public
    - mv build/html/* public
  artifacts:
    paths:
      - public

Build container:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == 'main'
      changes:
        - Dockerfile
        - requirements*.txt
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - Dockerfile
        - requirements*.txt
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.5
      alias: docker
  script:
    - docker build --target ${DOCKER_TARGET} --no-cache --pull -t ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/${DOCKER_TARGET}:${DOCKER_IMAGE_TAG} .
    - docker push ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/${DOCKER_TARGET}:${DOCKER_IMAGE_TAG}

Verify code style:
  stage: test
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == 'main') || $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - '**/*.py'
  image: ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/${DOCKER_TARGET}:${DOCKER_IMAGE_TAG}
  script:
    - black .

Run test:
  tags:
    - docker
    - methodshub
  stage: test
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == 'main') || $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - '**/*.py'
  image: ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/${DOCKER_TARGET}:${DOCKER_IMAGE_TAG}
  variables:
    MAGDALENA_SHARED_DIR: /tmp/magdalena-shared-volume
  script:
    - mkdir $MAGDALENA_SHARED_DIR
    - pytest .

poetry add cssselect
  poetry.lock
  pyproject.toml
Due: none

Add GraphQL mutation
  magdalena/app.py
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix file exists in GitLab CI
  .gitlab-ci.yml
Due: none

Update build container in GitLab CI
  .gitlab-ci.yml
Due: none

Add LOG_LEVEL for gunicorn
  Dockerfile
  compose.yaml
Due: Assign Docker image tag, Build container

Extract <main> from HTML
  magdalena/methodshub.py
Due: Verify code style, Run test

Add support to Bearer Authentication
  compose.yaml
  magdalena/methodshub.py
Due: Verify code style, Run test

Use README.md as default file for Git repository
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix image name used in GitLab CI
  .gitlab-ci.yml
Due: none

Use div instead of main in HTML fragment
  magdalena/methodshub.py
Due: Verify code style, Run test

Update tags for Run test
  .gitlab-ci.yml
Due: none

Use Poetry on GitLab CI test
  .gitlab-ci.yml
Due: none

Run test before deploy
  .gitlab-ci.yml
Due: none

Add missing command to Docker Compose for docs
  compose.yaml
Due: none

docutils does NOT support nested inline markup
  docs/source/index.rst
Due: build documentation

Add sections to index
  docs/source/index.rst
Due: build documentation

Update CONTRIBUTING
  docs/source/contributing.rst
Due: build documentation

Re-write contributing
  docs/source/contributing.rst
Due: build documentation

Explain why run test takes long
  docs/source/faq.rst
Due: build documentation

Add OpenAPI
  compose.yaml
  docs/source/_static/openapi/magdalena.yaml
  docs/source/api.rst
Due: build documentation

Add sphinxcontrib.openapi
  docs/source/conf.py
Due: build documentation, Verify code style, Run test

Update sphinx image
  compose.yaml
Due: none

poetry add sphinxcontrib-openapi --group docs
  poetry.lock
  pyproject.toml
Due: none

Update OpenAPI
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Add API documentation to index
  docs/source/api.rst
  docs/source/index.rst
Due: build documentation

Update GitLab CI
  .gitlab-ci.yml
Due: none

Improve REST API page
  docs/source/api.rst
Due: build documentation

Fix name of function
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix function name
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Add DOCX to HTML
  magdalena/docker-scripts/docx2html.sh
Due: none

Update Render Matrix
  magdalena/methodshub.py
Due: Verify code style, Run test

WIP
  magdalena/tests/functional/test_api.py
Due: Verify code style, Run test

black .
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix tmp_path in test
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Use temporary dir for clone content
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix TypeError: join() argument must be str, bytes, or os.PathLike object, not 'UUID'
  magdalena/methodshub.py
Due: Verify code style, Run test

Configure environment variable for test
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Fix function call on test
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead
  magdalena/app.py
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix some tests
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test
