Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, build documentation, Build dev container, Verify code style, Run test

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  build documentation: any of: docs/source/**/*
  Build dev container: any of: Dockerfile, pyproject.toml, poetry.lock
  Verify code style: any of: **/*.py
  Run test: any of: **/*.py

Add more details to OpenAPI
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Fix path to OpenAPI file
  docs/source/user/api.rst
Due: build documentation

Fix path to files in documentation
  docs/source/dev/architecture.rst
  docs/source/index.rst
Due: build documentation

Improve OpenAPI visualisation
  docs/source/_static/rapidoc.html
  docs/source/_static/swagger.html
  docs/source/user/api.rst
Due: build documentation

Convert from OpenAPI 2 to OpenAPI 3
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Add security to OpenAPI
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Add note about authentication redirect
  docs/source/user/api.rst
Due: build documentation

Add notes to OpenAPI
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Avoid authorization in index page
  magdalena/templates/index-authorization-required.html
  magdalena/templates/index.html
  magdalena/views.py
Due: Verify code style, Run test

Add AUTHORIZATION_REQUIRED environment variable
  compose.yaml
  magdalena/views.py
Due: Verify code style, Run test

Run black
  magdalena/methodshub.py
Due: Verify code style, Run test

Document environment variables in container
  docs/source/docker/env.rst
  docs/source/index.rst
Due: build documentation

Add AUTHORIZATION_REQUIRED to unit test
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Remove support to convert DOCX into HTML
  magdalena/docker-scripts/docx2html.sh
  magdalena/docker-scripts/docx2md.sh
  magdalena/methodshub.py
  magdalena/tasks.py
  magdalena/tests/assets/minimal.docx
  magdalena/tests/assets/minimal.docx.license
  magdalena/tests/integration/test_api.py
  magdalena/tests/unit/test_methodshub.py
  magdalena/views.py
Due: Verify code style, Run test

Check for postBuild file earlier
  magdalena/methodshub.py
Due: Verify code style, Run test

Drop option to forward information to backend
  compose.yaml
  magdalena/methodshub.py
  magdalena/tasks.py
  magdalena/templates/index-authorization-required.html
  magdalena/templates/index.html
Due: Verify code style, Run test

Fix missing variable
  magdalena/views.py
Due: Verify code style, Run test

Remove authorization header
  magdalena/templates/index.html
Due: none

Fix assert statement
  magdalena/tasks.py
Due: Verify code style, Run test

Add exception to Celery log
  magdalena/app.py
Due: Verify code style, Run test

Fix exception in /result endpoint
  magdalena/views.py
Due: Verify code style, Run test

black .
  magdalena/methodshub.py
Due: Verify code style, Run test

Avoid import .pem
  magdalena/views.py
Due: Verify code style, Run test

Fix downstream trigger for GitLab CI
  .gitlab-ci.yml
Due: none

Add release to GitLab CI
  .gitlab-ci.yml
Due: none

Revisit GitLab CI
  .gitlab-ci.yml
Due: none

Fix if-else in GitLab CI
  .gitlab-ci.yml
Due: none

Fix tag can't be used with --all-tags
  .gitlab-ci.yml
Due: none

Store commit in GitLab CI/CD variable
  .gitlab-ci.yml
Due: none

Simplify GitLab CI
  .gitlab-ci.yml
Due: none

Update GitLab template
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/production.md
  .gitlab/issue_templates/stage.md
  .gitlab/merge_request_templates/default.md
Due: none

Update README
  README.md
Due: none
