Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, build documentation, Build dev container, Verify code style, Run test

Assign Docker image tag:
  stage: config
  script:
  - rm -f docker.env
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  - echo "DOCKER_REGISTRY=${DOCKER_REGISTRY}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

build documentation:
  image: docker-private-releases.gesis.intra/gesis/methods-hub/sphinx/sphinx
  stage: release
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/build

Build dev container:
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  variables:
    DOCKER_TARGET: dev
    DOCKER_CONTAINER_NAME: ${DOCKER_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/dev
  script:
  - 'docker \
  
    build \
  
    --no-cache \
  
  ...

Verify code style:
  stage: test
  image: ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/dev:${DOCKER_IMAGE_TAG}
  script:
  - black .

Run test:
  tags:
  - shell
  - methodshub
  - stage
  stage: test
  variables:
    MAGDALENA_SHARED_DIR: /tmp/magdalena-shared-volume
  script:
  - poetry install --with dev
  - poetry run pytest .

Split documentation
  docs/source/dev/architecture.rst
  docs/source/dev/contributing.rst
  docs/source/dev/faq.rst
  docs/source/dev/integration-tests.rst
  docs/source/dev/unit-tests.rst
  docs/source/index.rst
  docs/source/user/api.rst
  docs/source/user/faq.rst
Due: build documentation

Add test with R
  magdalena/tests/integration/test_api.py
Due: Verify code style, Run test

Test new container for Quarto
  magdalena/methodshub.py
Due: Verify code style, Run test

Improve documentation
  docs/source/dev/contributing.rst
  docs/source/dev/integration-tests.rst
  docs/source/dev/unit-tests.rst
  docs/source/img/.$magdalena.drawio.png.bkp
  docs/source/user/api.rst
Due: build documentation

Explain --log-cli-level
  docs/source/dev/integration-tests.rst
  docs/source/dev/unit-tests.rst
Due: build documentation

Fix assert
  magdalena/methodshub.py
Due: Verify code style, Run test

Add test case for fail
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Update Integration test
  magdalena/tests/integration/test_api.py
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Remove call Git from Docker Container
  magdalena/docker-scripts/Rmd2md.sh
  magdalena/docker-scripts/docx2html.sh
  magdalena/docker-scripts/docx2md.sh
  magdalena/docker-scripts/ipynb2html.sh
  magdalena/docker-scripts/ipynb2md.sh
  magdalena/docker-scripts/md2md.sh
  magdalena/docker-scripts/qmd2html.sh
  magdalena/docker-scripts/qmd2md.sh
Due: none

Fix Keycloak realm name
  compose.yaml
Due: none

Add reverse proxy for development
  compose.yaml
  nginx/sites-enabled/keycloak.gesis.dev.conf
  nginx/sites-enabled/methodshub.gesis.dev.conf
Due: none

Add more environment variables in Docker compose
  compose.yaml
Due: none

Handle extra Keycloak environment variable
  magdalena/pem.py
Due: Verify code style, Run test

Handle extra Keycloak environment variable
  magdalena/app.py
Due: Verify code style, Run test

Add note about domains to documentation
  docs/source/dev/contributing.rst
Due: build documentation

Fix Keycloak JWT information
  compose.yaml
  magdalena/app.py
Due: Verify code style, Run test

Add more log to index.html
  magdalena/templates/index.html
Due: none

Add debug log to Flask app
  magdalena/app.py
Due: Verify code style, Run test

Return error message to user
  magdalena/app.py
Due: Verify code style, Run test

Process JSON input better
  magdalena/app.py
Due: Verify code style, Run test

Add note about tests
  docs/source/dev/unit-tests.rst
Due: build documentation

Fix unit test when Quarto is not available
  magdalena/methodshub.py
Due: Verify code style, Run test

Add commit ID to test_post_ipynb_to_html
  magdalena/tests/integration/test_api.py
Due: Verify code style, Run test

Fix the Git commit ID handler
  magdalena/app.py
Due: Verify code style, Run test

Break down try ... except
  magdalena/app.py
Due: Verify code style, Run test

Add debug log
  magdalena/methodshub.py
Due: Verify code style, Run test

Add more debug log
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix log text
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix ipynb2html
  magdalena/docker-scripts/ipynb2html.sh
Due: none

Minor improve to qmd2html
  magdalena/docker-scripts/qmd2html.sh
Due: none

Add more information to help debug
  magdalena/docker-scripts/ipynb2html.sh
  magdalena/docker-scripts/qmd2html.sh
Due: none

Add more logging
  magdalena/methodshub.py
Due: Verify code style, Run test

Change log level to DEBUG
  .gitlab-ci.yml
Due: none

Hard code user ID
  magdalena/methodshub.py
Due: Verify code style, Run test

Revert "Change log level to DEBUG"
  .gitlab-ci.yml
Due: none

Avoid revoke privileges of new files
  magdalena/app.py
Due: Verify code style, Run test

Fix permission of files created by quarto
  magdalena/docker-scripts/ipynb2html.sh
  magdalena/docker-scripts/qmd2html.sh
Due: none

Hide environment variables from shell
  magdalena/docker-scripts/ipynb2html.sh
  magdalena/docker-scripts/qmd2html.sh
Due: none

Avoid revoke privileges of new files
  magdalena/methodshub.py
Due: Verify code style, Run test

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  build documentation: any of: docs/source/**/*
  Build dev container: any of: Dockerfile, pyproject.toml, poetry.lock
  Verify code style: any of: **/*.py
  Run test: any of: **/*.py
