Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, build documentation, Build dev container, Verify code style, Run test

Assign Docker image tag:
  stage: config
  script:
  - rm -f docker.env
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  - echo "DOCKER_REGISTRY=${DOCKER_REGISTRY}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

build documentation:
  image: docker-private-releases.gesis.intra/gesis/methods-hub/sphinx/sphinx
  stage: release
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/build

Build dev container:
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  variables:
    DOCKER_TARGET: dev
    DOCKER_CONTAINER_NAME: ${DOCKER_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/dev
  script:
  - 'docker \
  
    build \
  
    --no-cache \
  
  ...

Verify code style:
  stage: test
  image: ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/dev:${DOCKER_IMAGE_TAG}
  script:
  - black .

Run test:
  tags:
  - shell
  - methodshub
  - stage
  stage: test
  variables:
    MAGDALENA_SHARED_DIR: /tmp/magdalena-shared-volume
  script:
  - poetry install --with dev
  - poetry run pytest .

Add test for lxml
  magdalena/tests/unit/test_lxml.py
Due: Verify code style, Run test

Fix extract HTML
  magdalena/methodshub.py
Due: Verify code style, Run test

Extend mybinder timeout to 30min
  magdalena/mybinder.py
Due: Verify code style, Run test

Allow downstream set of timeout
  magdalena/mybinder.py
Due: Verify code style, Run test

Fix label for GitLab template
  .gitlab/issue_templates/production.md
  .gitlab/issue_templates/stage.md
  .gitlab/merge_request_templates/default.md
Due: none

Update domain in NGINX
  nginx/sites-enabled/keycloak.gesis.conf
  nginx/sites-enabled/methodshub.gesis.conf
Due: none

Fix WSGI
  wsgi.py
Due: Verify code style, Run test

Add Redis and RabbitMQ to Docker compose
  compose.yaml
Due: none

Imrpove quick start in documentation
  docs/source/dev/contributing.rst
Due: build documentation

Update documentation
  docs/source/dev/contributing.rst
Due: build documentation

Add Celery worker code
  magdalena/worker.py
Due: Verify code style, Run test

Add redis to dependencies
  poetry.lock
  pyproject.toml
Due: Build dev container

Add Celery worker to Docker Compose
  compose.yaml
Due: none

Update environment variable
  compose.yaml
Due: none

Fix keyworkd for url_for
  magdalena/app.py
  magdalena/templates/index.html
  magdalena/views.py
Due: Verify code style, Run test

Fix NGINX reverse proxy
  nginx/sites-enabled/methodshub.gesis.conf
Due: none

Add celery and flower as dependence
  poetry.lock
  pyproject.toml
Due: Build dev container

Relocate logic to Celery worker
  magdalena/app.py
  magdalena/tasks.py
  magdalena/views.py
Due: Verify code style, Run test

Update dependence in Docker Compose
  compose.yaml
Due: none

Refactor to use Blueprint
  magdalena/app.py
  magdalena/tasks.py
  magdalena/views.py
Due: Verify code style, Run test

Avoid code duplication in Docker Compose
  compose.yaml
Due: none

Replace console.log() with console.debug()
  magdalena/templates/index.html
Due: none

Fix HTTP request
  magdalena/templates/index.html
  magdalena/views.py
Due: Verify code style, Run test

Avoid load all previous log
  docs/source/dev/contributing.rst
Due: build documentation

Fix logger in Celery worker
  magdalena/methodshub.py
  magdalena/mybinder.py
Due: Verify code style, Run test

Shared directory need to be created in Celery worker
  magdalena/app.py
  magdalena/tasks.py
Due: Verify code style, Run test

Remove try block from task
  magdalena/tasks.py
Due: Verify code style, Run test

Add download endpoint
  magdalena/views.py
Due: Verify code style, Run test

Add console.info() in HTML
  magdalena/templates/index.html
Due: none

Increase version to 0.3.0
  pyproject.toml
Due: Build dev container

Fix status code
  magdalena/tests/integration/test_api.py
Due: Verify code style, Run test

Add mock libraries
  poetry.lock
  pyproject.toml
Due: Build dev container

Fix creation of Flask app during test
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Load package outside of monkeypatch
  magdalena/tests/conftest.py
Due: Verify code style, Run test

All calls to API return 200
  magdalena/tests/integration/test_api.py
Due: Verify code style, Run test

Add environment variables for RabbitMQ
  compose.yaml
  magdalena/app.py
Due: Verify code style, Run test

Add environment variables to test
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Fix download of public key during test
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Add monkey patch
  magdalena/tests/integration/test_api.py
Due: Verify code style, Run test

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  build documentation: any of: docs/source/**/*
  Build dev container: any of: Dockerfile, pyproject.toml, poetry.lock
  Verify code style: any of: **/*.py
  Run test: any of: **/*.py
