Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, build documentation, Build dev container, Verify code style, Run test

Assign Docker image tag:
  stage: config
  script:
  - rm -f docker.env
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  - echo "DOCKER_REGISTRY=${DOCKER_REGISTRY}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

build documentation:
  image: docker-private-releases.gesis.intra/gesis/methods-hub/sphinx/sphinx
  stage: release
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/build

Build dev container:
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  variables:
    DOCKER_TARGET: dev
    DOCKER_CONTAINER_NAME: ${DOCKER_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/dev
  script:
  - 'docker \
  
    build \
  
    --no-cache \
  
  ...

Verify code style:
  stage: test
  image: ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/dev:${DOCKER_IMAGE_TAG}
  script:
  - black .

Run test:
  tags:
  - shell
  - methodshub
  - stage
  stage: test
  variables:
    MAGDALENA_SHARED_DIR: /tmp/magdalena-shared-volume
  script:
  - poetry install --with dev
  - poetry run pytest .

Fix name 'monkeypatch' is not defined
  magdalena/tests/integration/test_api.py
Due: Verify code style, Run test

Disable test until review
  magdalena/tests/integration/test_api.py
Due: Verify code style, Run test

Use GitLab CI/CD sphinx-doc component
  .gitlab-ci.yml
Due: none

Fix typo
  .gitlab-ci.yml
Due: none

black .
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix wsgi.py to work with gunicorn
  wsgi.py
Due: Verify code style, Run test

Avoid problem with logging
  magdalena/app.py
Due: Verify code style, Run test

Add __version__
  magdalena/__init__.py
Due: Verify code style, Run test

Restore logging
  magdalena/app.py
  magdalena/views.py
Due: Verify code style, Run test

Increase version of Sphinx component
  .gitlab-ci.yml
Due: none

Add sequence diagram to documentation
  docs/source/index.rst
Due: build documentation

Remove rabbitmq from Docker Compose
  compose.yaml
Due: none

Replace broker with redis
  magdalena/app.py
Due: Verify code style, Run test

Add environment variable for Celery
  magdalena/app.py
Due: Verify code style, Run test

Add environment variables to Docker compose
  compose.yaml
Due: none

Add logger for celery URL
  magdalena/app.py
Due: Verify code style, Run test

Fix Celery URL in Docker Compose
  compose.yaml
Due: none

Add celery environment variables to test
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Use sub-resources URL in test page
  magdalena/templates/index.html
Due: none

Prevent default earlier
  magdalena/templates/index.html
Due: none

Redirect to HTML when page is built
  magdalena/templates/index.html
Due: none

Disable submit button to avoid multiple requests
  magdalena/templates/index.html
Due: none

Avoid sub-resources URL
  magdalena/templates/index.html
Due: none

Update GitLab Quick Actions
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/production.md
  .gitlab/issue_templates/stage.md
  .gitlab/merge_request_templates/default.md
Due: none

Fix GitLab Pages job
  .gitlab-ci.yml
Due: none

Handle / at the end of URL
  magdalena/methodshub.py
Due: Verify code style, Run test

Fail earlier by inspecting Git repository
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix typo in check_input_file()
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix typo in check_postBuild()
  magdalena/methodshub.py
Due: Verify code style, Run test

Upgrade Sphinx container
  .gitlab-ci.yml
Due: none

Expand FAQ
  docs/source/index.rst
Due: build documentation

Expand FAQ
  docs/source/user/faq.rst
Due: build documentation

Prettier YAML
  .gitlab-ci.yml
Due: none

Increase version of Sphinx
  compose.yaml
Due: none

Add more details to OpenAPI
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Update Docker Compose
  compose.yaml
Due: none

Improve OpenAPI
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

WIP
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Add Apicurito to Docker Compose
  compose.yaml
Due: none

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  build documentation: any of: docs/source/**/*
  Build dev container: any of: Dockerfile, pyproject.toml, poetry.lock
  Verify code style: any of: **/*.py
  Run test: any of: **/*.py
