Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, build documentation, Build dev container, Verify code style, Run test

Assign Docker image tag:
  stage: config
  script:
  - rm -f docker.env
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  - echo "DOCKER_REGISTRY=${DOCKER_REGISTRY}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

build documentation:
  image: docker-private-releases.gesis.intra/gesis/methods-hub/sphinx/sphinx
  stage: release
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/build

Build dev container:
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  variables:
    DOCKER_TARGET: dev
    DOCKER_CONTAINER_NAME: ${DOCKER_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/dev
  script:
  - 'docker \
  
    build \
  
    --no-cache \
  
  ...

Verify code style:
  stage: test
  image: ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/dev:${DOCKER_IMAGE_TAG}
  script:
  - black .

Run test:
  tags:
  - shell
  - methodshub
  - stage
  stage: test
  variables:
    MAGDALENA_SHARED_DIR: /tmp/magdalena-shared-volume
  script:
  - poetry install --with dev
  - poetry run pytest .

Add more information to pytest
  .gitlab-ci.yml
Due: none

Copy file instead of moving
  magdalena/docker-scripts/md2html.sh
Due: none

Provide more information on test
  .gitlab-ci.yml
Due: none

Change repo2docker user ID to host user ID
  magdalena/methodshub.py
Due: Verify code style, Run test

Add set -o errexit
  magdalena/docker-scripts/Rmd2ipynb.sh
  magdalena/docker-scripts/Rmd2md.sh
  magdalena/docker-scripts/Rmd2qmd.sh
  magdalena/docker-scripts/copy-assets.sh
  magdalena/docker-scripts/docx2html.sh
  magdalena/docker-scripts/docx2md.sh
  magdalena/docker-scripts/ipynb2html.sh
  magdalena/docker-scripts/ipynb2ipynb.sh
  magdalena/docker-scripts/ipynb2md.sh
  magdalena/docker-scripts/ipynb2qmd.sh
  magdalena/docker-scripts/md2html.sh
  magdalena/docker-scripts/md2ipynb.sh
  magdalena/docker-scripts/md2md.sh
  magdalena/docker-scripts/md2pdf.sh
  magdalena/docker-scripts/md2qmd.sh
  magdalena/docker-scripts/qmd2html.sh
  magdalena/docker-scripts/qmd2ipynb.sh
  magdalena/docker-scripts/qmd2md.sh
  magdalena/docker-scripts/qmd2qmd.sh
Due: none

Add KEYCLOAK_CLIENT to Docker compose
  compose.yaml
Due: none

Add KEYCLOAK_CLIENT to pem module
  magdalena/pem.py
Due: Verify code style, Run test

Import constants from pem module
  magdalena/app.py
Due: Verify code style, Run test

Use constants from pem module in index.html
  magdalena/templates/index.html
Due: none

black .
  magdalena/app.py
  magdalena/methodshub.py
  magdalena/tests/conftest.py
  magdalena/tests/functional/test_api.py
Due: Verify code style, Run test

Add wrapper for mybinder.org
  compose.yaml
  magdalena/mybinder.py
Due: Verify code style, Run test

Add missing reuse annotation
  LICENSES/AGPL-3.0-or-later.txt
  docs/source/img/magdalena-logo.png.license
  docs/source/img/magdalena.drawio.png.license
  magdalena/tests/assets/minimal.docx.license
Due: build documentation

Load image from mybinder
  magdalena/methodshub.py
Due: Verify code style, Run test

Add test to mybinder.org
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Add MYBINDER_URL to GitLab CI
  .gitlab-ci.yml
Due: none

Add MYBINDER_URL to conttest
  magdalena/tests/conftest.py
Due: Verify code style, Run test

black .
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Fix import
  magdalena/methodshub.py
Due: Verify code style, Run test

Add missing imports
  magdalena/mybinder.py
Due: Verify code style, Run test

Improve logging
  magdalena/mybinder.py
Due: Verify code style, Run test

Add more logging
  magdalena/mybinder.py
Due: Verify code style, Run test

Fix logging
  magdalena/mybinder.py
Due: Verify code style, Run test

Add more logging
  magdalena/methodshub.py
Due: Verify code style, Run test

Update documentation
  docs/source/architecture.rst
  docs/source/img/magdalena.drawio.png
Due: build documentation

Extract docker repository from docker image name
  magdalena/methodshub.py
Due: Verify code style, Run test

Copy files during test preparation
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Change file permission when magdalena starts
  magdalena/app.py
Due: Verify code style, Run test

Add git_commit_id to web form
  magdalena/templates/index.html
Due: none

Change Docker Compose port
  compose.yaml
Due: none

Update address of Keycloak submodule
  .gitmodules
Due: none

Add service healthy to magdalena
  compose.yaml
Due: none

Update OpenAPI
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Expand responses
  docs/source/_static/openapi/magdalena.yaml
Due: build documentation

Usa name arguments for function call
  magdalena/app.py
  magdalena/methodshub.py
Due: Verify code style, Run test

Replace assert with try except
  magdalena/app.py
Due: Verify code style, Run test

black magdalena
  magdalena/app.py
Due: Verify code style, Run test

Check for extra things
  magdalena/methodshub.py
Due: Verify code style, Run test

Rename folder
  magdalena/tests/integration/test_api.py
  magdalena/tests/integration/test_index.py
Due: Verify code style, Run test

Fix Methods Hub name
  docs/source/index.rst
Due: build documentation

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  build documentation: any of: docs/source/**/*
  Build dev container: any of: Dockerfile, pyproject.toml, poetry.lock
  Verify code style: any of: **/*.py
  Run test: any of: **/*.py
