Repository gesiscss/magdalena: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Assign Docker image tag, build documentation, Build dev container, Verify code style, Run test

Assign Docker image tag:
  stage: config
  script:
  - rm -f docker.env
  - echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}" >> docker.env
  - echo "DOCKER_REGISTRY=${DOCKER_REGISTRY}" >> docker.env
  artifacts:
    reports:
      dotenv: docker.env

build documentation:
  image: docker-private-releases.gesis.intra/gesis/methods-hub/sphinx/sphinx
  stage: release
  script:
  - cd docs
  - make html
  artifacts:
    paths:
    - docs/build

Build dev container:
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
  - name: docker-private.gesis.intra/gesis/dind:5.5
    alias: docker
  variables:
    DOCKER_TARGET: dev
    DOCKER_CONTAINER_NAME: ${DOCKER_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/dev
  script:
  - 'docker \
  
    build \
  
    --no-cache \
  
  ...

Verify code style:
  stage: test
  image: ${DOCKER_REGISTRY}/${CI_PROJECT_PATH}/dev:${DOCKER_IMAGE_TAG}
  script:
  - black .

Run test:
  tags:
  - shell
  - methodshub
  - stage
  stage: test
  variables:
    MAGDALENA_SHARED_DIR: /tmp/magdalena-shared-volume
  script:
  - poetry install --with dev
  - poetry run pytest .

Print MAGDALENA_SHARED_DIR during test
  magdalena/tests/conftest.py
Due: Verify code style, Run test

Avoid to copy scripts
  magdalena/app.py
  magdalena/methodshub.py
Due: Verify code style, Run test

Update test function names
  magdalena/tests/functional/test_api.py
Due: Verify code style, Run test

Reduce functional test
  magdalena/tests/functional/test_api.py
Due: Verify code style, Run test

Use <body> instead of <main>
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix name of function
  magdalena/app.py
Due: Verify code style, Run test

Return 201 code from POST
  magdalena/app.py
Due: Verify code style, Run test

Configure MAGDALENA_TMP for test
  magdalena/tests/conftest.py
  magdalena/tests/unit/test_methodshub.py
Due: Verify code style, Run test

Add scripts to convert to HTML
  magdalena/docker-scripts/md2html.sh
  magdalena/docker-scripts/qmd2html.sh
Due: none

Fix path of shell script
  magdalena/docker-scripts/md2html.sh
Due: none

Fix path of output
  magdalena/docker-scripts/qmd2html.sh
Due: none

Avoid print()
  magdalena/methodshub.py
Due: Verify code style, Run test

poetry add pyjwt
  poetry.lock
  pyproject.toml
Due: Build dev container

poetry add flask-jwt-extended
  poetry.lock
  pyproject.toml
Due: Build dev container

Import jwt_required
  magdalena/app.py
Due: Verify code style, Run test

Add jwt_required() to build()
  magdalena/app.py
Due: Verify code style, Run test

Add JWT_DECODE_ISSUER and JWT_PUBLIC_KEY
  compose.yaml
  magdalena/app.py
Due: Verify code style, Run test

Add JWT_TOKEN_LOCATION
  compose.yaml
  magdalena/app.py
Due: Verify code style, Run test

git submodule add git@git.gesis.org:methods-hub/keycloak.git
  .gitmodules
Due: none

Add Keycloak Javascript client to Docker
  Dockerfile
Due: Assign Docker image tag, Build dev container

Add Keycloak to Docker Compose
  compose.yaml
Due: none

Ignore Keycloak Public Key
  .gitignore
Due: none

Add Keycloak to index.html
  magdalena/templates/index.html
Due: none

Add function to download public key from Keycloak
  magdalena/pem.py
Due: Verify code style, Run test

Download publick key when start server
  magdalena/app.py
Due: Verify code style, Run test

Revert "poetry add flask-jwt-extended"
  poetry.lock
  pyproject.toml
Due: Build dev container

poetry add pyjwt[crypto]
  poetry.lock
  pyproject.toml
Due: Build dev container

Remove variables from Docker Compose
  compose.yaml
Due: none

Expose Keycloak issuer
  magdalena/pem.py
Due: Verify code style, Run test

Add JWT_ISSUER to Docker Compose
  compose.yaml
Due: none

Fix typo in environment variable name
  magdalena/pem.py
Due: Verify code style, Run test

Keep public key in memory
  magdalena/pem.py
Due: Verify code style, Run test

Drop flask_jwt_extended
  magdalena/app.py
Due: Verify code style, Run test

Disable Markdown and Quarto from HTML
  magdalena/templates/index.html
Due: none

Improve logging
  magdalena/methodshub.py
Due: Verify code style, Run test

Fix path of Docker script
  magdalena/app.py
  magdalena/methodshub.py
Due: Verify code style, Run test

Configure token
  magdalena/tests/conftest.py
  magdalena/tests/functional/test_api.py
Due: Verify code style, Run test

Fix token validation during test
  magdalena/tests/functional/test_api.py
Due: Verify code style, Run test

Remove print()
  magdalena/tests/functional/test_api.py
Due: Verify code style, Run test

Path conditions:
  Assign Docker image tag: any of: Dockerfile
  build documentation: any of: docs/source/**/*
  Build dev container: any of: Dockerfile, pyproject.toml, poetry.lock
  Verify code style: any of: **/*.py
  Run test: any of: **/*.py
